@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Roboto&display=swap');
@import "./carousel.css";
@import "./nav-menu.css";

:root{
  --header-min-height: 5vh;
  --footer-min-height: 5vh;
  --text-color-light-mode: rgb(35, 35, 35);
  --text-color-dark-mode: rgb(255, 255, 255);
  /* --bg-gradient-light-mode: radial-gradient(circle, rgba(255,252,85,0.4) 0%, rgba(255,255,255,1) 66%);
  --bg-gradient-dark-mode: linear-gradient(0deg, rgba(20,30,40,1) 0%, rgba(35, 35, 35, 1) 100%); */
  --bg-color-light-mode: rgb(255, 255, 255);
  --bg-color-dark-mode: rgb(35, 35, 35);
  --accent-color-light-mode: rgb(35, 35, 35);
  --accent-color-dark-mode: rgb(255, 255, 255);
  --crosshair-border-color: black;

  font-size: 18px;
  color: var(--text-color-light-mode);
  background-color: var(--bg-color-light-mode);
  font-family: 'Roboto', sans-serif, monospace;
}

div {
  /* border: 1px solid red; for development only */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

button{
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  color: var(--accent-color-dark-mode);
  background-color: var(--accent-color-light-mode);
  cursor: pointer;
}

body {
  min-height: 100vh;
  background: var(--bg-color-light-mode);
}

body > * { /* header, main, footer */
  padding: 20px;
}

header {
  display: flex;
  min-height: var(--header-min-height);
  justify-content: space-between;
}

.fixed-header {
  position: fixed;
  width: 100%;
}

header > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.nav-theme-select {
  display: flex;
  flex-direction: column;
}

main {
  min-height: calc(100vh - var(--header-min-height) - var(--footer-min-height));
}

footer {
  min-height: var(--footer-min-height);
  background-color: rgb(35, 35, 35);
  color: white;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

h1 {
  padding: 10px;
  font-size: 2.5em;
  margin-bottom: 20px;
}

h2 {
  font-size: 2em; 
}

h3 {
  font-size: 1.5em;
  padding: 12px 6px;
}

h4 {

}

p {

}

.my-handle {
  align-items: flex-end;
}

.credits {
  justify-content: flex-end;
  align-items: flex-end;
}

.social-icons {
  
}

.main-container{
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
}

.top-left-square, .top-right-square, .bottom-left-square, .bottom-right-square {
  display: flex;
  flex: 1;
  min-width: calc(50vw - 20px);
  max-width: 600px;
  aspect-ratio: 1;
  justify-content: center;
  align-items: center;
}

.top-left-square{
  
  
}

.top-right-square{
  border-left:4px solid var(--crosshair-border-color);
  
}

.bottom-left-square{
  border-top: 4px solid var(--crosshair-border-color);
}

.bottom-right-square{
  border-top: 4px solid var(--crosshair-border-color);
  border-left: 4px solid var(--crosshair-border-color);
}

.square-wrapper {
  display: flex;
}

/* Utils */

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-apart{
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.gap-40 {
  gap: 40px;
}

/* End Utils */

/* Media queries*/

@media screen and (max-width: 600px){
  .main-container{
    flex-direction: column;
  }

  .square-wrapper {
    flex-direction: column;
  }

  .top-left-square{
  border-top: 4px solid var(--crosshair-border-color);
  
  }
  
  .top-right-square{
    border-left:none;
    
  }
  
  .bottom-left-square{
    border-top: none;
  }
  
  .bottom-right-square{
    border-top: none;
    border-left: none;
  }
  
  .top-left-square, .top-right-square, .bottom-left-square, .bottom-right-square{
    border-bottom: 4px solid var(--crosshair-border-color);
    
  }

}

@media screen and (max-width: 500px) {
  .credits {
    flex-direction: row;
    text-align: center;
  }
}